<!DOCTYPE html>
<html>
<head>
  <title>My Courses</title>
<% include Head.ejs %>
<!--  including the header information  -->
</head>

<body>
<% include Navbar.ejs %>
<!-- including the navigation bar -->


<!--  My Courses Tab : it would show the courses taken by the professor -->

<!-- script to make current tab active in the navigation bar -->
<script>
var x = document.getElementById("mycourses");
x.className = "active";
</script>


<div id="menu2">
<div class="w3-box-center-table">
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
    <thead>
    <tr class="w3-light-grey">
      <th class="w3-grey">Course ID</th>
      <th class="w3-grey">Course Name</th>
      <th class="w3-grey">Credits</th>
    </tr>
    </thead>
    <% if(data) {%>
      <% for(i=0; i < data.length; i++) { %>
    <tr>
      <form method="get" name="form">
      <td><a href='MyCourses/<%= data[i].course %>/CourseHome'><%= data[i].course %></a></td>
      <td><a href='MyCourses/<%= data[i].course %>/CourseHome'><%= data[i].course_name %></a></td>
      <td><p><%= data[i].credit %></p></td>
      </form>
    </tr>
    <% } %>
    <% } %>
</table>
</div>
</div>



<br><br><br><br><br><br><br>

<!--  including the footer information-->
<% include Footer.ejs %>

</body>
</html>
