<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include CourseNavbar.ejs %>

<!-- Course Score Window  -->
<div id="menu3">
    <div class="w3-box-center-table">
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
    <thead>
    <tr class="w3-light-grey">
      <th class="w3-grey">Type of Exam</th>
      <th class="w3-grey">Marks Scored</th>
      <th class="w3-grey">Average</th>
      <th class="w3-grey">Highest</th>
      <th class="w3-grey">Percentile</th>
      <th class="w3-grey">Weightage</th>
    </tr>
    </thead>
    <tr>
      <td>In Sem-1</td>
      <td><%= mdata[0].insem1 %></td>
      <td>Check</td>
      <td>4.5</td>
      <td>97</td>
      <td><%= cdata[0].insem1 %>%</td>
    </tr>

    <tr>
      <td>In Sem-2</td>
      <td><%= mdata[0].insem2 %></td>
      <td>Check</td>
      <td>4.5</td>
      <td>82</td>
      <td><%= cdata[0].insem2 %>%</td>
    </tr>

    <tr>
      <td>End Sem</td>
      <td><%= mdata[0].endsem %></td>
      <td>Check</td>
      <td>4.5</td>
      <td>56</td>
      <td><%= cdata[0].endsem %>%</td>
      </tr>

     <tr>
      <td>Project</td>
      <td><%= mdata[0].project %></td>
      <td>Check</td>
      <td>3</td>
      <td>78</td>
      <td><%= cdata[0].project %>%</td>
    </tr>

     <tr>
      <td>Lab</td>
      <td><%= mdata[0].lab %></td>
      <td>Check</td>
      <td>4</td>
      <td>100</td>
      <td><%= cdata[0].lab %>%</td>
    </tr>

    <tr>
     <td>Attendance</td>
     <td><%= mdata[0].attendance %></td>
     <td>Check</td>
     <td>4</td>
     <td>100</td>
     <td><%= cdata[0].attendance %>%</td>
   </tr>

</table>
<br>
</div>


</div>
<!--  End of score page  -->

<% include Footer.ejs %>

</body>
</html>
