<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include CourseNavbar.ejs %>

<div id="menu2">
            <div class="w3-box-center-table">
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
                <thead>
                <tr class="w3-light-grey">
                  <th class="w3-grey">Name</th>
                  <th class="w3-grey">ID</th>
                  <th class="w3-grey">Contact No</th>
                  <th class="w3-grey">Room No</th>
                  <th class="w3-grey">Course</th>
                </tr>
                </thead>

                <% if(data) {%>
                <% for(var i=0; i < data.length; i++) { %>
              <tr>
                <form method="get" name="form">
                <td><p class="w3-input w3-border " name="std_ID"><%= data[i].ta_name%></p></td>
                <td><p class="w3-input w3-border " name="std_ID"><%= data[i].ta_id%></p></td>
                <td><p class="w3-input w3-border " name="std_ID"><%= data[i].ta_phone_no%></p></td>
                <td><p class="w3-input w3-border " name="std_ID"><%= data[i].ta_room_no%></p></td>
                <td><p class="w3-input w3-border " name="std_ID"><%= data[i].course%></p></td>
                </form>
              </tr>
              <% } %>
              <% } %>
            </table>
            </div>
            </p>



               <br><br> <br>
       </div>
    </div>

<% include Footer.ejs %>

</body>
</html>
